@font-face {
    font-family: ArcadeClassic;
    src: url("ARCADECLASSIC.TTF") format("truetype");
}

body {
	margin: 0;
    background-image: url("wallpaper.gif");
    background-position: center;
    background-size: 100%;
	font-family: ArcadeClassic, serif;

}

h1 {
	font-size: 60px;
	transform: translateY(-140px);
}

.panel {
	margin-top: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: rgb(238, 211, 211);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.question {
	font-size: 40px;
	margin-bottom: 50px;
	transform: translateY(-40px);
}

.options {
	font-size: 40px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 60px;
	margin-top: 10px;
	margin-bottom: 20px;
	position: fixed;
	top: 35%;
	left: center;
}

button {
	margin-right: 75px;
	margin-top: 8%;
	font-size: 20px;
	padding: 10px 20px;
	background-color: #2d6b8f;
	color: white;
	border: none;
	cursor: pointer;
	font-family: ArcadeClassic, serif;
}

#score {
	font-size: 70px;
	color: rgb(176, 231, 231);
}
